<ion-header [translucent]="true">
  <ion-toolbar>
      @if ( data ){
        <ion-title>
          SkeletonApp
        </ion-title>
        <button matButton="elevated"
          (click)="cerrar()" 
          slot=end
          class="ion-margin-end">
          Cerrar Sesion</button>
      }@else{
        <ion-title class="ion-text-center">
          SkeletonApp
        </ion-title>
      }
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">
  @if ( data ) {
    <ion-card class="details">
      <ion-card-header>
        <ion-card-title>
          Bienvenido {{data.user}}
        </ion-card-title>
        <ion-card-subtitle>
          Completa tu registro
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <mat-form-field class="input">
          <mat-label>Nombre</mat-label>
          <input matInput
            id="nombre"
            name="nombre"
            [(ngModel)]="usuario.nombre"
            ngModel required
            pattern="^[A-Z][a-z]{1,50}"
            >
        </mat-form-field>
        <mat-form-field class="input">
          <mat-label>Apellido</mat-label>
          <input matInput
            id="apellido"
            name="apellido"
            [(ngModel)]="usuario.apellido"
            ngModel required
            pattern="^[A-Z][a-z]{1,50}">
        </mat-form-field>
        <mat-form-field class="input">
          <mat-label>Nivel Educacion</mat-label>
          <mat-select
            id="educacion"
            name="educacion"
            [(ngModel)]="usuario.educacion"> 
            @for ( nvl of nvls; track nvl ){
              <mat-option [value]="nvl.nivel">{{nvl.desc}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input">
          <mat-label>Fecha Nacimiento</mat-label>
          <input matInput 
            [matDatepicker]="picker"
            id="fec_nac"
            name="fec_nac"
            [(ngModel)]="usuario.fec_nac">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </ion-card-content>
      <div class="ion-padding-bottom">
        <table class="table">
          <tr>
            <th>
              <button matButton="elevated"
                (click)="limpiar()">
                Limpiar</button>
            </th>
            <th>
              <button matButton="elevated"
                >
                Mostrar</button>
            </th>
          </tr>
        </table>
      </div>
    </ion-card>
  }@else {
    <ion-card class="login ion-padding-bottom ion-flex-row">
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          Bienvenido
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        Ingresa a nuestra App
      </ion-card-content>
        <div class="btn">
          <button
            matButton="elevated"
            routerLink="/login">
          Crear Cuenta
        </button>
        </div>
    </ion-card>
  }
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-padding-vertical">
      @100% Juan Aliaga
    </ion-title>
  </ion-toolbar>
</ion-footer>